<div id="Replay">
	<div class="paused_overlay"></div>
	<div class="message">
		<div></div>	
	</div>
	<div class="controller">
		<div class="progress">
			<div class="fill"></div>
			<div class="decoration"></div>
		</div>
		<div class="time">00:00</div>
		<div class="control">
			<div class="state-buttons">
				<div class="play"></div>
				<div class="pause"></div>
				<div class="replay"></div>
			</div>
			<div class="speed">
				SPEED: 
				<select class="speed_selector">
					<option value="1" selected>1x</option>
					<option value="2">2x</option>
					<option value="4">4x</option>
					<option value="8">8x</option>
					<option value="16">16x</option>
					<option value="32">32x</option>
				</select>
			</div>
		</div>
	</div>
</div>
