<div id="win_login">
	<!-- Exit btn -->
	<button class="exit" type="button">x</button>

	<!-- Server Logo -->
	<div class="logo"></div>

	<!-- Friendly Message -->
	<div class="message">Authenticate</div>

	<!-- User Auth -->
	<div class="user-auth">
		<table>
			<tr>
				<td><label>Login:</label></td>
				<td><input class="user" type="text" pattern=".{4,24}" required value="" /></td>
			</tr>
			<tr>
				<td><label>Password:</label></td>
				<td><input class="pass" type="password" pattern=".{4,24}" required value="" /></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button class="btn connect" type="submit">Enter</button>
					<button class="btn register" onclick="window.open('//www.aesirworld.com/account/create')">Register</button>
					<button class="btn forgot" onclick="window.open('//www.aesirworld.com/account/resetpass')">Recover</button>
				</td>
			</tr>
		</table>
	</div>

	<div class="facebook-auth">
		<div class="mes">Or...</div>
		<button class="facebook" type="button"></button>
	</div>
</div>
